.contanier-app{ /* Content Principal*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 60rem;
  margin: 3rem;
  border-radius: 2rem;
  background-color: #ffffff;
}

.card-container{ /* Content Card*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 14rem;
  margin-top: 1rem;
  margin-right: 29rem;
  background-color: #fcfcfc;
}
.card-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.card-content p {
  justify-content: flex-start;
  align-items: flex-start;
}

/*Resolutions*/
@media screen and (max-width: 1366) {
  .contanier-app{ /* Content Principal*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 79rem;
    height: 37rem;
    margin: 3rem;
    border-radius: 2rem;
    background-color: #ffffff;
  }
  
  .card-container{ /* Content Card*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    height: 7rem;
    margin-top: 1rem;
    margin-right: 29rem;
    background-color: #fcfcfc;
  }
  .card-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
  }
  .card-content p {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/*Resolution for tablet*/
@media screen and (max-width: 850px){
  .contanier-app{ /* Content Principal*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40rem;
    height: 39rem;
    margin: 3rem;
    border-radius: 2rem;
    background-color: #ffffff;
  }
  
  .card-container{ /* Content Card*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 14rem;
    margin-top: 1rem;
    margin-right: 29rem;
    background-color: #fcfcfc;
  }
  .card-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
  }
  .card-content p {
    justify-content: flex-start;
    align-items: flex-start;
  }

}
@media screen and (max-width: 500px){
  .contanier-app{ /* Content Principal*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    height: 60rem;
    margin: 3rem;
    border-radius: 2rem;
    background-color: #ffffff;
  }
  
  .card-container{ /* Content Card*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 14rem;
    margin-top: 1rem;
    margin-right: 29rem;
    background-color: #fcfcfc;
  }
  .card-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
  }
  .card-content p {
    justify-content: flex-start;
    align-items: flex-start;
  }
}